DB_DRIVER=mysqli
DB_SERVER=localhost
DB_USER=root
DB_PASS=
DB_NAME=sitala_iklh

BASE_URL=/

OPENROUTER_API_KEY=sk-or-v1-your-key-here
OPENROUTER_OCR_MODEL=google/gemini-2.5-flash
OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions

# AWS ONLY
UPLOADS_PATH=/mnt/efs/uploads