/temp/
/uploads/
*.sql
# ...kecuali migrasi skema, yang memang harus ikut ter-commit
!/migration/*.sql
.DS_Store
/config/apikeys.php
/.env
/IKU/
/IKA/
/IKAL/
.elasticbeanstalk
!.elasticbeanstalk/config.yaml